.page {
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

input:checked + span {
    text-decoration: line-through;
    color: #e4e4e4;
}

span:last-child {
    color: red;
    cursor: pointer;
}